volumes:
    postgres-data:
        external: true
    # other volumes...

# volumes:
services:
  fastapi:
    environment:
      CORS_HOST: http://localhost:3000
      DATABASE_URL: postgresql://example_user:secret@postgres/example_db
      SIGNING_KEY: 49f9c67645245ffe095d58f310a5b73d969b3fb92852f099a52905a731f9a9b2
      SPOTIFY_CLIENT_ID: 4d6c7eae97cd480fb1088393ebd8f107
      SPOTIFY_CLIENT_SECRET: 6f54d43f0d354899bb3c6fbfa44982e8
    build:
      context: api
      dockerfile: Dockerfile.dev
    ports:
      - 8000:8000
    volumes:
      - ./api:/app

  ghi:
    image: node:lts-bullseye
    command: /bin/bash run.sh
    working_dir: /app
    volumes:
      - ./ghi:/app
    ports:
      - "3000:3000"
    environment:
      HOST_OS: ${OS}
      NODE_ENV: development
      HOST: "0.0.0.0"
      PUBLIC_URL: http://localhost:3000
      REACT_APP_API_HOST: ${REACT_APP_API_HOST}

  postgres:
      image: postgres:14.5-bullseye
      volumes:
          - postgres-data:/var/lib/postgresql/data
      environment:
          POSTGRES_PASSWORD: secret
          POSTGRES_USER: example_user
          POSTGRES_DB: example_db
      ports:
          - 15432:5432
